header{
    grid-column-start: 1;
    grid-column-end: 3;
}
body{
    font-family: $font-primaria;
}
main{
    grid-column-start: 1;
    grid-column-end: 3;
}
footer{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gridContainer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

/*Inicia header- nav bootstrap*/
.logo{
  width: 15rem;
  margin-top: 2em;
}
.navbar-collapse{
    justify-content: center;
    background-color: $color-cuaternario;
    width: 100%;
}
.navbar{
    width: 100%;
    font-size: 2.5rem;
    background-color: $color-cuaternario;
    padding: 0;
    margin: 0;
    align-items: center;
    align-content: center;
    color: $color-cuaternario;
    position:fixed;
}
.container-fluid{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $color-cuaternario;
    height: 80px;
}
.nav-item{
    margin-top: 1em;
}
.navbar-nav{
    align-items: center;
    gap: 1em;
}
.navbar-nav .nav-item .nav-link{
    color: $color-secundario;

    &:hover{
        color: rgba(0, 40, 29, 0.368);
    }
}
button.navbar-toggler{
    border: none; outline:none;
}
.fa-align-center{
    color: $color-secundario;
    font-size: 4rem;
}

/*Inicia Footer*/
footer{
    background-color: $color-cuaternario;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    justify-content: center;
    gap: 8em;
    color: $color-secundario;
    height: 120rem;
    padding-top: 2em;
    & p{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        gap: .3em;
    }
    & p a{
        color: $color-primario;
        text-decoration: none;
    }
    & p a:hover{
        color: rgba(128, 146, 73, 0.362);
    }
}
.footerDatos{
    display: flex;
    flex-direction: column;
    color: $color-primario;
    justify-items: center;
    width: 100%;
    
    &__resources{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap:1em;
        align-content: center;
        width: 100%;
    }
    &__resources p{
        font-size: 2rem;
        color: $color-primario;
    }
    &__resources a{
        font-size: 5rem;
        text-decoration: none;
        color: $color-primario;
    }
    &__resources a:hover{
        opacity: 30%;
    }
    &__connect{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    &__connect--contact{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__connect--contact p{
        font-size: 2rem;
    }
    &__connect--contact a{
        font-size: 5rem;
        text-decoration: none;
        color: $color-primario;
    }
    &__connect--contact a:hover{
        opacity: 30%;
    }
    &__connect--redes{
        display: flex;
        flex-direction: column;
    }
    &__connect--redes p{
        font-size: 2rem;
    }
    &__connect--redes a{
        font-size: 5rem;
        text-decoration: none;
        color: $color-primario;
    }
    &__connect--redes a:hover{
        opacity: 30%;
    }
}



/*Empieza main*/
.section1{
    background-color: $color-secundario;
    height: 60rem;
    padding-top: 2em;
    color: $color-cuaternario;
    display: flex;
    align-content: center;
    width: 100%;
    & h1{
        font-size: 6rem;
        padding-top: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.section2{
    background-color: $color-primario;
    height: 60rem;
    padding-top: 2em;
    color: $color-cuaternario;
    display: flex;
    align-content: center;
    text-align: center;
    width: 100%;
    & h2{
        font-size: 6rem;
        padding-top: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.section3{
    background-color: $color-terciario;
    height: 60rem;
    padding-top: 2em;
    color: $color-secundario;
    display: flex;
    align-content: center;
    width: 100%;
    text-align: center;
    & h2{
        font-size: 6rem;
        padding-top: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.section4{
    background-color: $color-secundario;
    height: 60rem;
    padding-top: 2em;
    color: $color-cuaternario;
    display: flex;
    align-content: center;
    width: 100%;
    text-align: center;
    & h2{
        font-size: 6rem;
        padding-top: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media only screen and(min-width: 992px){
    /*Footer*/
    .footerDatos__resources{
        padding-top: 0em;
    }
    .footerDatos{
        flex-direction: row;
    }
    footer{
        padding-top: 3em;
        height: 70rem;
    }
}