@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*1 rem === 10px*/ }

/*font-family: 'Quicksand', sans-serif;*/
header {
  grid-column-start: 1;
  grid-column-end: 3; }

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif; }

main {
  grid-column-start: 1;
  grid-column-end: 3; }

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: flex;
  flex-direction: column; }

.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr; }

/*Inicia header- nav bootstrap*/
.logo {
  width: 15rem;
  margin-top: 2em; }

.navbar-collapse {
  justify-content: center;
  background-color: #f7f1e2ff;
  width: 100%; }

.navbar {
  width: 100%;
  font-size: 2.5rem;
  background-color: #f7f1e2ff;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  color: #f7f1e2ff;
  position: fixed;
  z-index: 100; }

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f7f1e2ff;
  height: 80px; }

.nav-item {
  margin-top: 1em; }

.navbar-nav {
  align-items: center;
  gap: 1em; }

.navbar-nav .nav-item .nav-link {
  color: #00281dff; }
  .navbar-nav .nav-item .nav-link:hover {
    color: rgba(0, 40, 29, 0.368); }

button.navbar-toggler {
  border: none;
  outline: none; }

.fa-align-center {
  color: #00281dff;
  font-size: 4rem; }

/*Inicia Footer*/
footer {
  background-color: #f7f1e2ff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  justify-content: center;
  gap: 8em;
  color: #00281dff;
  height: 120rem;
  padding-top: 2em; }
  footer p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: .3em; }
  footer p a {
    color: #809249ff;
    text-decoration: none; }
  footer p a:hover {
    color: rgba(128, 146, 73, 0.362); }

.footerDatos {
  display: flex;
  flex-direction: column;
  color: #809249ff;
  justify-items: center;
  width: 100%; }
  .footerDatos__resources {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    align-content: center;
    width: 100%; }
  .footerDatos__resources p {
    font-size: 2rem;
    color: #809249ff; }
  .footerDatos__resources a {
    font-size: 5rem;
    text-decoration: none;
    color: #809249ff; }
  .footerDatos__resources a:hover {
    opacity: 30%; }
  .footerDatos__connect {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center; }
  .footerDatos__connect--contact {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .footerDatos__connect--contact p {
    font-size: 2rem; }
  .footerDatos__connect--contact a {
    font-size: 5rem;
    text-decoration: none;
    color: #809249ff; }
  .footerDatos__connect--contact a:hover {
    opacity: 30%; }
  .footerDatos__connect--redes {
    display: flex;
    flex-direction: column; }
  .footerDatos__connect--redes p {
    font-size: 2rem; }
  .footerDatos__connect--redes a {
    font-size: 5rem;
    text-decoration: none;
    color: #809249ff; }
  .footerDatos__connect--redes a:hover {
    opacity: 30%; }

/*Empieza main*/
/*Inicia la seccion calcular IMC*/
.section1 {
  background-color: #00281dff;
  padding-top: 2em;
  color: #f7f1e2ff;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  justify-content: flex-start;
  text-align: center;
  gap: 3em;
  height: auto;
  padding-bottom: 5em; }
  .section1 h1 {
    font-size: 3rem;
    padding-top: 2em;
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .section1 h4 {
    font-size: 2rem; }
  .section1__contenido {
    width: 80%;
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 2em;
    height: auto; }
  .section1__contenido__datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10em; }
  .section1__calorias--altura {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #809249ff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    align-self: center;
    border-radius: 5rem; }
    .section1__calorias--altura--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
    .section1__calorias--altura--input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 20rem;
      padding-bottom: 5rem; }
      .section1__calorias--altura--input input {
        font-size: 2.5rem;
        width: 7rem;
        text-align: center;
        background-color: #809249ff;
        color: #f7f1e2ff;
        border: none;
        border-bottom: 2px solid #f7f1e2ff; }
        .section1__calorias--altura--input input:focus {
          outline: none; }
      .section1__calorias--altura--input h4 {
        font-size: 2.5rem; }
  .section1__calorias--peso {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #809249ff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    align-self: center;
    border-radius: 5rem; }
    .section1__calorias--peso--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
    .section1__calorias--peso--input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 20rem;
      padding-bottom: 5rem; }
      .section1__calorias--peso--input input {
        font-size: 2.5rem;
        width: 7rem;
        text-align: center;
        background-color: #809249ff;
        color: #f7f1e2ff;
        border: none;
        border-bottom: 2px solid #f7f1e2ff; }
        .section1__calorias--peso--input input:focus {
          outline: none; }
      .section1__calorias--peso--input h4 {
        font-size: 2.5rem; }
  .section1__calorias--btnCalculo {
    width: 80%;
    background-color: #f7f1e2ff;
    color: #00281dff;
    height: 5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem; }
    .section1__calorias--btnCalculo:hover {
      background-color: #d0eebbff;
      color: #00281dff;
      cursor: pointer; }
  .section1__resultadoIMC {
    width: 60%; }
    .section1__resultadoIMC--datos {
      width: 100%;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      gap: 2em;
      justify-content: center;
      align-items: center;
      background-color: #f7f1e2ff;
      color: #00281dff; }
  .section1__btnIMC {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em; }

/*Inicia la seccion de Calculo calorias diarias*/
.section2 {
  background-color: #809249ff;
  height: 300rem;
  color: #f7f1e2ff;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%; }
  .section2 h2 {
    font-size: 3rem;
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; }
  .section2 h4 {
    font-size: 2rem; }
  .section2__contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    flex-flow: row wrap; }
  .section2__calorias--genero {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #00281dff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    align-self: center;
    border-radius: 5rem; }
    .section2__calorias--genero--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
  .section2__calorias--genero--img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 20rem; }
  .section2__calorias--genero--img--hombre {
    display: flex;
    flex-direction: column;
    gap: 1em; }
  .section2__calorias--genero--img--mujer {
    display: flex;
    flex-direction: column;
    gap: 1em; }
  .section2__calorias--edad {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #00281dff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    align-self: center;
    border-radius: 5rem; }
    .section2__calorias--edad--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
    .section2__calorias--edad--input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 20rem;
      padding-bottom: 5rem; }
      .section2__calorias--edad--input input {
        font-size: 2.5rem;
        width: 7rem;
        text-align: center;
        background-color: #00281dff;
        color: #f7f1e2ff;
        border: none;
        border-bottom: 2px solid #f7f1e2ff; }
        .section2__calorias--edad--input input:focus {
          outline: none; }
      .section2__calorias--edad--input h4 {
        font-size: 2.5rem; }
  .section2__calorias--altura {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #00281dff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    align-self: center;
    border-radius: 5rem; }
    .section2__calorias--altura--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
    .section2__calorias--altura--input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 20rem;
      padding-bottom: 5rem; }
      .section2__calorias--altura--input input {
        font-size: 2.5rem;
        width: 7rem;
        text-align: center;
        background-color: #00281dff;
        color: #f7f1e2ff;
        border: none;
        border-bottom: 2px solid #f7f1e2ff; }
        .section2__calorias--altura--input input:focus {
          outline: none; }
      .section2__calorias--altura--input h4 {
        font-size: 2.5rem; }
  .section2__calorias--peso {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #00281dff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    align-self: center;
    border-radius: 5rem; }
    .section2__calorias--peso--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
    .section2__calorias--peso--input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 20rem;
      padding-bottom: 5rem; }
      .section2__calorias--peso--input input {
        font-size: 2.5rem;
        width: 7rem;
        text-align: center;
        background-color: #00281dff;
        color: #f7f1e2ff;
        border: none;
        border-bottom: 2px solid #f7f1e2ff; }
        .section2__calorias--peso--input input:focus {
          outline: none; }
      .section2__calorias--peso--input h4 {
        font-size: 2.5rem; }
  .section2__calorias--actividadfisica {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #00281dff;
    color: #f7f1e2ff;
    justify-content: flex-start;
    align-items: center;
    height: 110rem;
    align-self: center;
    border-radius: 5rem;
    gap: 1em; }
    .section2__calorias--actividadfisica--titulo {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem; }
    .section2__calorias--actividadfisica--contenido {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "card1" "card2" "card3" "card4";
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: .2em; }
    .section2__calorias--actividadfisica--contenido1 {
      grid-area: card1;
      justify-self: center;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 25rem; }
      .section2__calorias--actividadfisica--contenido1 h4 {
        font-size: 1.5rem;
        text-align: center;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .section2__calorias--actividadfisica--contenido1--btn {
        width: 80%;
        background-color: #809249ff;
        height: 5rem;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem; }
        .section2__calorias--actividadfisica--contenido1--btn:hover {
          background-color: #f7f1e2ff;
          color: #00281dff;
          cursor: pointer; }
    .section2__calorias--actividadfisica--contenido2 {
      grid-area: card2;
      justify-self: center;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 25rem; }
      .section2__calorias--actividadfisica--contenido2 h4 {
        font-size: 1.5rem;
        text-align: center;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .section2__calorias--actividadfisica--contenido2--btn {
        width: 80%;
        background-color: #809249ff;
        height: 5rem;
        font-size: 1.8rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 10rem; }
        .section2__calorias--actividadfisica--contenido2--btn:hover {
          background-color: #f7f1e2ff;
          color: #00281dff;
          cursor: pointer; }
    .section2__calorias--actividadfisica--contenido3 {
      grid-area: card3;
      justify-self: center;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 25rem; }
      .section2__calorias--actividadfisica--contenido3 h4 {
        font-size: 1.5rem;
        text-align: center;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .section2__calorias--actividadfisica--contenido3--btn {
        width: 80%;
        background-color: #809249ff;
        height: 5rem;
        font-size: 1.8rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 10rem; }
        .section2__calorias--actividadfisica--contenido3--btn:hover {
          background-color: #f7f1e2ff;
          color: #00281dff;
          cursor: pointer; }
    .section2__calorias--actividadfisica--contenido4 {
      grid-area: card4;
      justify-self: center;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 25rem; }
      .section2__calorias--actividadfisica--contenido4 h4 {
        font-size: 1.5rem;
        text-align: center;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .section2__calorias--actividadfisica--contenido4--btn {
        width: 80%;
        background-color: #809249ff;
        height: 5rem;
        font-size: 1.8rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 10rem; }
        .section2__calorias--actividadfisica--contenido4--btn:hover {
          background-color: #f7f1e2ff;
          color: #00281dff;
          cursor: pointer; }
  .section2__calorias--btnCalculo {
    width: 80%;
    background-color: #d0eebbff;
    color: #00281dff;
    height: 5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem; }
    .section2__calorias--btnCalculo:hover {
      background-color: #f7f1e2ff;
      color: #00281dff;
      cursor: pointer; }

.img-actividadfisica {
  max-width: 7rem;
  height: 10rem; }

.img-actividadfisica2 {
  max-width: 5rem;
  height: 10rem; }

.btngenero {
  width: 100%;
  background-color: #809249ff;
  height: 5rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem; }
  .btngenero:hover {
    background-color: #f7f1e2ff;
    color: #00281dff;
    cursor: pointer; }

.imagenes-calculadora {
  max-width: 100px; }

/*Inicia la seccion de Nutricionistas*/
.section3 {
  background-color: #d0eebbff;
  height: auto;
  padding-top: 2em;
  color: #00281dff;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
  gap: 3em;
  padding-bottom: 5em; }
  .section3 h2 {
    font-size: 3rem;
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center; }
  .section3__caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em; }
  .section3__contenido {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 80%; }
  .section3__contenido__card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: .4em;
    background-color: #809249ff;
    color: #f7f1e2ff;
    height: 34rem;
    border-radius: 10%; }
  .section3__contenido--titulo {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem; }
  .section3__contenido--imagen {
    width: 15rem;
    height: 15rem;
    border-radius: 50%; }
  .section3__contenido--datos {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize; }

.d-flex {
  width: 80%;
  align-self: center; }

.form-control {
  font-size: 1.5rem; }

.btn {
  font-size: 1.5rem; }

#btnBuscarNutri {
  color: #f7f1e2ff;
  background-color: #809249ff;
  border-color: #809249ff; }

.btn-outline-success {
  color: #809249ff; }

.list-group {
  width: 100%;
  font-size: 1.5rem;
  background-color: #809249ff;
  z-index: 1; }

.list-group-item {
  color: #f7f1e2ff;
  background-color: #809249ff; }

/*Inicia la seccion de buscador de recetas*/
.section4 {
  background-color: #00281dff;
  height: 60rem;
  padding-top: 2em;
  color: #f7f1e2ff;
  display: flex;
  align-content: center;
  width: 100%;
  text-align: center; }
  .section4 h2 {
    font-size: 3rem;
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center; }

/*Vista desktop*/
@media only screen and (min-width: 992px) {
  /*Footer*/
  .footerDatos__resources {
    padding-top: 0em; }
  .footerDatos {
    flex-direction: row; }
  footer {
    padding-top: 3em;
    height: 70rem; }
  /*Index*/
  /*Seccion calculo IMC*/
  .section1 h1 {
    font-size: 6rem; }
  .section1__contenido__datos {
    flex-direction: row; }
  .section1__calorias--btnCalculo {
    width: 40%; }
  /*Seccion calcular calorias diarias*/
  .section2 {
    height: 200rem; }
  .section2 h2 {
    font-size: 6rem; }
  .section2__calorias--genero {
    width: 35%; }
  .section2__calorias--edad {
    width: 35%; }
  .section2__calorias--altura {
    width: 35%; }
  .section2__calorias--peso {
    width: 35%; }
  .section2__calorias--actividadfisica {
    height: 65rem; }
  .section2__calorias--actividadfisica--contenido {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card1 card2" "card3 card4";
    gap: 2em; }
  .section2__calorias--actividadfisica--contenido1 {
    width: 40%; }
  .section2__calorias--actividadfisica--contenido2 {
    width: 70%; }
  .section2__calorias--actividadfisica--contenido3 {
    width: 40%; }
  .section2__calorias--actividadfisica--contenido4 {
    width: 40%; }
  .section2__calorias--btnCalculo {
    width: 40%; }
  /*Seccion Nutricionistas*/
  .section3 h2 {
    font-size: 6rem; }
  .section3__contenido {
    gap: 10em; }
  .section3__caja {
    flex-direction: row;
    align-items: flex-start;
    gap: 0em; }
  .section3__contenido__card {
    width: 35%; }
  .list-group {
    width: 25%;
    font-size: 2rem; }
  .d-flex {
    width: 40%; }
  /*Seccion Recetas*/
  .section4 h2 {
    font-size: 6rem; } }
